<!-- Open User Open Office Interact Modal -->
<app-user-open-office-interact></app-user-open-office-interact>

<div class="home">
    <img class="home-bg" [src]="getBackgroundImage()" alt="Background Image">

    <!--
    <div class="d-flex flex-column p-4">
         Customer 
        <div class="col-md-4" *ngIf="!isUserLoggedIn">
            <div class="customer table rounded-4 p-2">
                <h2 class="table-text mb-3" style="margin: 20px auto">Rental cars. Your way.</h2>
                <a class="btn border-3 rounded-3 btn-outline-success shadow fw-bold w-50 mt-3 mb-2 scale-hover" (click)="navigateTo('cars')">GO</a>
            </div> 
        </div>
            -->
    
        <!-- Business 
        <div class="col-md-3 custom-col ml-auto business" *ngIf="!isUserLoggedIn">
            <div class="table firm p-4 mt-5">  
                <h3 class="table-text mb-4">If you're a business, you've come to the right place!</h3>
                <a class="btn border-3 rounded-3 btn-outline-success shadow fw-bold w-50 mt-3 mb-2 scale-hover" (click)="callUserOpenOfficeInteractModal()">Open Office</a>
            </div>    
        </div> 
        
    </div>
        -->
    
</div>    
